---
import Base from "@/layouts/Base.astro";
import Banner from "@/layouts/components/Banner.astro";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";
import { Image } from "astro:assets";

const heatpumpsPage = (await getEntry(
  "heatpumps",
  "-index",
)) as CollectionEntry<"heatpumps">;

const { banner } = heatpumpsPage.data;
const { image, image2, image3 } = banner;
---

<Base>
  <Banner banner={banner}>
    <Fragment slot="images">
      <div class="relative flex justify-center">
          <Image
            class="object-contain"
            alt="banner"
            src={image}
            width={180}
            height={396}
          />
          <Image
            alt="heatpump internal"
            src={image2}
            width={162}
            height={396}
          />
        </div>
    </Fragment>
  </Banner>
</Base>
